

#map {

  position: absolute;
  top: 100vh;

  height: 100vh;
  width: 100vw;

  overflow-x: hidden;

}


#leaflet {

  width: calc(~"100vw + "@width-text);
  height: 100vh;

  // Zoom buttons

  .leaflet-right {
    right: @width-text;
  }

  .leaflet-control-zoom {
    margin: @margin-content;
  }

  // Popups

  .leaflet-popup {
    pointer-events: none;
    .transition(none);
  }

  .leaflet-popup-content-wrapper {
    .border-radius(2px);
  }

  .leaflet-popup-content {
    margin: 5px;
    font-weight: bold;
  }

  // Collection markers

  path.collection {

    stroke: @color-yellow;
    fill: darken(@color-blue, 25%);
    fill-opacity: 0.2;
    stroke-width: 1;

    &.nocount {
      fill: darken(@color-blue, 10%);
      stroke-width: 0;
      fill-opacity: 0.7;
    }

    &.highlight {
      fill: @color-yellow;
      fill-opacity: 0.7;
    }

  }

  // Section boxes

  path.section.box {
    stroke: black;
    stroke-width: 1;
    fill-opacity: 0;
  }

  // Section labels

  .leaflet-div-icon {

    padding: 1px 3px;
    margin: 4px 0;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    white-space: nowrap;
    font-size: 10px;

    .border-radius(1px);

    &.highlight {
      background: @color-blue;
      color: whitesmoke;
    }

  }

  // Make it possible to stack SVG containers.

  svg {
    pointer-events: none;
    g {
      pointer-events: all;
    }
  }

  g.counties {

    &.hide {
      display: none;
    }

    path {

      stroke: white;
      stroke-width: 0.02;
      fill: @color-blue;

      &.highlight {
        fill: @color-yellow;
      }

    }

  }

}


.fixed #map {
  position: fixed;
  top: 0;
}
