

#map {

  position: absolute;
  top: 100vh;

  width: calc(~"100vw + "@width-text);
  height: 100vh;

  background: #bbb;

  &.fixed {
    position: fixed;
    top: 0;
  }

  .leaflet-right {
    right: @width-text;
  }

  .leaflet-control-zoom {
    margin: 2em;
  }

  path.collection {

    stroke: #E3BA1F;
    fill: darken(@color-blue, 25%);
    fill-opacity: 0.2;
    stroke-width: 1;

    &.nocount {
      fill: darken(@color-blue, 10%);
      stroke-width: 0;
      fill-opacity: 0.7;
    }

  }

}
