

#map {

  position: absolute;
  top: 100vh;
  height: 100vh;
  width: 100vw;

  background: #bbb;

  &.fixed {
    position: fixed;
    top: 0;
  }

  .leaflet-control-zoom {

    margin: 2em;

    a {
      height: 40px;
      width: 40px;
      line-height: 40px;
      font-size: 2em;
    }

  }

}
