
#footer.block

  p.credit Built by the <a href="http://library.stanford.edu/department/cidr" target="_blank">Center for Interdisciplinary Digital Research</a> in the <a href="http://library.stanford.edu/" target="_blank">Stanford University Libraries</a>.

footer

  = render "shared/read"
