
#footer.block

  p.credit Built by the <a href="http://library.stanford.edu/department/cidr">Center for Interdisciplinary Digital Research</a> in the <a href="http://library.stanford.edu/">Stanford University Libraries</a>.

footer

  = render "shared/read"
