<div class="col left">&copy; 2018 Stanford University. All rights reserved. <a href="/terms-of-use/">Terms of Use</a>.</div>
<div class="col center">ISBN 9781503603349 | DOI 10.21627/2019c | OCLC <a href="http://www.worldcat.org/oclc/[tbd]" target="blank">[tbd]</a></div>
<div class="col right">Published by <a href="https://www.sup.org/" target="_blank">STANFORD UNIVERSITY PRESS</a><img src="/images/logo_sup.svg"></div>
