
= content_for :header do
  h1 People

p <span class="dropcap" lines="3">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit. Duis nisl nibh, feugiat sed malesuada eget, imperdiet eget arcu. Maecenas malesuada rhoncus metus non eleifend. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum feugiat, velit a mollis ullamcorper, tortor mauris vulputate urna, at hendrerit tortor nunc et risus. Praesent porttitor pretium sapien quis commodo. Nulla luctus ligula in hendrerit condimentum. Integer efficitur pulvinar mi, ac malesuada nisi fringilla dictum. Nullam lacus leo, facilisis et lobortis non, volutpat ut eros. Nunc iaculis rhoncus mattis. Morbi dictum ex eu nunc rutrum ultrices. Nulla volutpat ligula consequat pretium scelerisque. Mauris rutrum erat pellentesque ligula ultricies, id interdum arcu malesuada. Nunc ut porttitor tellus. Vestibulum nisl urna, vestibulum pulvinar augue in, imperdiet viverra quam.

p Integer non lacus metus. Quisque euismod ex ullamcorper dolor pulvinar consectetur. Morbi efficitur lacinia sem, vel dictum orci tristique in. Nulla luctus orci justo, sit amet fringilla ipsum sodales vel. Nunc massa tortor, malesuada in turpis at, porttitor pharetra ante. Aliquam ultrices sit amet augue sit amet malesuada. Sed magna mauris, placerat at magna at, lacinia pharetra dolor. Integer nec euismod metus, at porttitor neque. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vulputate velit at ligula rutrum volutpat. In sodales, lectus et scelerisque fermentum, magna turpis scelerisque quam, id finibus metus quam vel erat. Aliquam lacinia rhoncus nisl vitae rutrum. Nullam vitae nisl mauris. In dictum sit amet nulla eget efficitur.

p Aenean tincidunt nisi sit amet nisi malesuada, sed viverra elit facilisis. Nunc auctor, tellus vitae gravida porttitor, orci purus finibus nisi, pulvinar vehicula eros elit vulputate erat. In id facilisis ipsum. Ut gravida sit amet metus non rhoncus. Proin egestas id lacus quis laoreet. Maecenas feugiat convallis malesuada. Phasellus non ligula non eros aliquet venenatis. Curabitur erat elit, efficitur nec ultrices sed, vehicula eget ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
