
= content_for :css do
  = stylesheet_link_tag "/stylesheets/read"

h1.title= @narrative.title

h3.author= @narrative.author.full_name

h3= @narrative.author.affiliation

h3.blurb= @narrative.blurb

#narrative= @narrative.markup.html_safe
