

#menu {

  position: fixed;
  height: 60px;

  display: flex;
  align-items: center;

  .wordmark {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 20px;
    font-size: 16px;
  }

  .Select {

    width: 200px;
    font-size: 12px;

    .title {
      font-weight: bold;
      font-size: 14px;
    }

    .author {
      font-weight: lighter;
      font-style: italic;
    }

    .blurb {
      margin-top: 5px;
    }

  }

}
