

#menu {

  position: fixed;
  height: 60px;
  width: @width-text;

  display: flex;
  align-items: center;

  .wordmark {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 15px;
    font-size: 16px;
    flex: none;
  }

  .Select {

    flex: 1;

    .title {
      font-weight: bold;
      font-size: 14px;
    }

    .author {
      font-weight: lighter;
      font-style: italic;
    }

    .blurb {
      margin-top: 5px;
    }

  }

  // "Detach" the dropdown.

  .Select-menu-outer {

    margin-top: 5px;

    border-top-color: @select-input-border-color;
    .border-radius(@select-input-border-radius);

  }

  .is-open > .Select-control {
    .border-bottom-radius(@select-input-border-radius);
  }

  i.close {

    margin: 0 10px;
    font-size: 28px;
    opacity: 0.6;

    &:hover {
      color: #a00;
      opacity: 1;
    }

  }

}
