

#narrative {

  padding: 2em 3em;
  margin-top: 60px;

  background: rgba(245,245,245,0.90);
  .box-shadow(0 0px 10px rgba(20,20,20,0.1));
  .border-radius(2);

  header {
    margin-bottom: 2em;
    text-align: center;
  }

  h1.title {
    font-size: 34px;
  }

  p {
    font-family: freight-text-pro;
    font-weight: lighter;
  }

  p.byline {
    font-size: 20px;
    font-style: italic;
  }

  p:first-child:first-letter {
    float: left;
    padding-right: 8px;
    font-size: 70px;
    line-height: 65px;
    font-family: Raleway;
  }

  img {
    width: 100%;
    margin: 1em 0;
  }

  p.caption {
    opacity: 0.8;
    font-style: italic;
    font-size: 0.8em;
  }

  .collection, .anchor {

    border-bottom: 2px solid @color-blue;
    padding: 0 3px;
    cursor: pointer;

    &.highlight {
      border-bottom: 4px solid @color-blue;
    }

  }

  .section {

    &.highlighted {

      .heading {
        color: lighten(@color-blue, 15%);
      }

    }

    &.selectable {
      cursor: pointer;
    }

  }

}

.tooltip.focus {
  position: fixed;
  font-size: 10px;
}
